.p_0{
    padding: 0;
  }
  .lh_45{
    line-height: 45px;
  }
  .box_shadow_slider{
    box-shadow: 0 1px 7px 0 #e2d0b2;
    background-color: #ffffff;
    padding: 100px 120px;
    margin-left: -100px;
    margin-right: -100px;
  }
  .slider_title{
    font-family: 'Vollkorn', serif;
    font-size: 60px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.33px;
    color: #393737;
  }
  .slider_title_2{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    font-family:  'Lato', sans-serif;
  }
  .slider_title_3{
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #121212;
    font-family:  'Baskervville', serif;
  }
  .slider_black_border{
    border: 1px solid #000000;
    margin: -20px -50px -20px -50px;
    position: absolute;
    left: 10%;
    right: 0%;
    top: -5%;
    bottom: -5%;
    border-left-color: transparent;
  }
  .home_dress_shadow{
    box-shadow: 0 1px 7px 0 #e2d0b2;background-color: #ffffff;padding: 60px;margin-right: -80px;z-index: 9;
  }
  .home_border_line{
    border: 1px solid #000000;position: absolute;top: -10%;right: -26%;bottom: -40px;left: 10%;
  }
  .img_right_15{
    float: right;padding: 15px
  }
  .p_15{
    padding: 15px;
  }
  
  .button_map_bottom{
    position: absolute;
    left: 35%;
    right: 35%;
    bottom: 75px;
  }
  a.gold_bottom_btn:hover,
  .gold_bottom_btn:focus,
  .gold_bottom_btn{
    border-radius: 25px;
    background-color: #f2e8d8;font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #393737;    
    padding: 12px 24px;
    margin: auto;
    text-align: center;
    cursor: pointer;
  }
  .bg_box_content{
    box-shadow: 0 1px 7px 0 #e2d0b2;
    background-color: #ffffff;
    padding: 25px;
    margin-right: -80px; 
    z-index: 9;
  }
  
  .border_bg_box_black{
    border: 1px solid #000000;
    position: absolute;
    top: -10%;
    right: -26%;
    bottom: -40px;
    left: 10%;
  }
  .p_t_100{
    padding-top: 100px
  }
  .p_t_80{
    padding-top: 80px
  }
  .m_t_100{
    margin-top: 100px;
  }
  .demo {
    margin-top: 20px;
  }
  
  .demo li a.active{
    color: #fff;
    background-color: #000;
  }
  .demo li{    
    width: 50%;
    text-align: center;
    border: 1px solid rgb(33, 37, 41);
    padding: 16px;
  }
  .middle input[type="checkbox"]:hover + .box:hover,
  .middle input[type="radio"]:hover + .box:hover{
    background-color: #f4ecdf;
  }
  /*.demo ul li.active,
  .demo ul.open li,
  .demo ul li{
  background-color: #000;
  color: #fff;
  }
  .demo ul li.active a{
  color: #fff;
  }
  .demo ul li:second-child{
  background-color: #fff;
  color: #000;
  }
  */
  
  .margin_t_20{
    margin-top: 20px;
  }
  
  .demo .tab-content>.active a.selected .common_extend{
    box-shadow: -2px 10px 18px 0 rgba(139, 69, 19, 0.24);
    background-color: #ffffff;
    padding: 10px;
  }
  
  .tabs_none{
    display: none;
  }
  #accordion_two li span{
    float: right;
    font-size: 14px;
    margin-right: 10px;
  }
  
  .hover_display.hover_display_2 .title{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  a:hover .hover_display.hover_display_2{
    bottom: 50px;
    left: 30px;
    right: 30px;
  }
  
  a:hover{
    text-decoration: none;
  }
  
  #accordion_two li{
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #393737;
  }
  
  
  
  .demo li a{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    padding: 16px;
    text-decoration: none;
  }
  .demo .nav-tabs {
    border-bottom-color: transparent;
  }
  .tab-content {
    padding: 10px;
  }
  
  .number_circle{
    width: 124px;
    height: 124px;
    background-color: #000000;
    border-radius: 50%;
    font-size: 60px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 124px;
    letter-spacing: normal;
    color: #ffffff;
    font-family:  'Baskervville', serif;
    margin: auto;
    margin-top: -62px;
    text-align: center;
    border: 2px solid #cccc;
  }
  
  .bg_img{
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .process_img{
    height: 600px;
  }
  
  @media (max-width: 767px) {
    .nav-tabs.nav-tabs-dropdown,
    .nav-tabs-dropdown {
      border: 1px solid #dddddd;
      border-radius: 5px;
      overflow: hidden;
      position: relative;
    }
    .number_circle{
      display: none;
    }
    .process_img{
      height: 200px;
    }
    .bg_box_content{
      margin-right: 0;
    }
    .border_bg_box_black{
      display: none;
    }
    .nav-tabs.nav-tabs-dropdown::after,
    .nav-tabs-dropdown::after {
      content: "☰";
      position: absolute;
      top: 8px;
      right: 15px;
      z-index: 2;
      pointer-events: none;
    }
    .nav-tabs.nav-tabs-dropdown.open a,
    .nav-tabs-dropdown.open a {
      position: relative;
      display: block;
    }
    .nav-tabs.nav-tabs-dropdown.open > li.active > a,
    .nav-tabs-dropdown.open > li.active > a {
      background-color: #eeeeee;
    }
    .nav-tabs.nav-tabs-dropdown li,
    .nav-tabs-dropdown li {
      display: block;
      padding: 0;
      vertical-align: bottom;
    }
    .nav-tabs.nav-tabs-dropdown > li > a,
    .nav-tabs-dropdown > li > a {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
      border-color: transparent;
    }
    .nav-tabs.nav-tabs-dropdown > li > a:focus,
    .nav-tabs-dropdown > li > a:focus,
    .nav-tabs.nav-tabs-dropdown > li > a:hover,
    .nav-tabs-dropdown > li > a:hover,
    .nav-tabs.nav-tabs-dropdown > li > a:active,
    .nav-tabs-dropdown > li > a:active {
      border-color: transparent;
    }
    .nav-tabs.nav-tabs-dropdown > li.active > a,
    .nav-tabs-dropdown > li.active > a {
      display: block;
      border-color: transparent;
      position: relative;
      z-index: 1;
      background: #fff;
    }
    .nav-tabs.nav-tabs-dropdown > li.active > a:focus,
    .nav-tabs-dropdown > li.active > a:focus,
    .nav-tabs.nav-tabs-dropdown > li.active > a:hover,
    .nav-tabs-dropdown > li.active > a:hover,
    .nav-tabs.nav-tabs-dropdown > li.active > a:active,
    .nav-tabs-dropdown > li.active > a:active {
      border-color: transparent;
    }
  }
  
  .form-control:active,
  .form-control:focus{
    border-color: #c0ab89;
    box-shadow: 0 0 0 0.2rem #f4ecdf;
  }
  .accordion-text{
    font-family:  'Lato', sans-serif;
    color: #393737!important;
    width: 100%;
    display: flex;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
  }
  .accordion-text span{
    position: absolute;
    right: 10px;
  }
  h2, .h2{
    margin-top: .5em;
  }
  
  
  .hover_display_icon {
    position: absolute;
    right: 30px;
    top: 10px;
    display: none;
    color: #fff;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .hover_display_icon i{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  a:hover .hover_display_icon{
    display: block;
    color: #fff;
  }
  
  
  .sidebar__inner ul{
    padding-left: 0;
  }
  
  
  /* The container */
  .container_checkbox {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.54);
  }
  
  /* On mouse-over, add a grey background color */
  .container_checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container_checkbox input:checked ~ .checkmark {
    border-color: #008464;
    background-color: #008464;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container_checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container_checkbox .checkmark:after {
    left: 4px;
    top: 0;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #accordion li{
    font-family:  'Lato', sans-serif;;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #393737;
    display: inline-block;
    margin-right: 15px;
    width: 40%;
  }
  body {
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .baseline_aligment{
    align-items: baseline;
    align-content: center;
  }
  .page_title{
    font-size: 56px;
    font-weight: normal;
    color: #000;
    font-family:  'Baskervville', serif;
  }
  .page_title_2{
    font-size: 48px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    font-family:  'Baskervville', serif;
  }
  .page_title_3{
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #c0ab89;
    font-family:  'Baskervville', serif;
  }
  .margin_t_10,
  .desp_content.margin_t_10{
    margin-top: 10px
  }
  .desp_content.margin_t_10.margin_b_20{
    margin-bottom: 20px;
  }
  
  .sidebar {
    will-change: min-height;
  }
  
  .sidebar__inner {
    transform: translate(0, 0);
    /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
  }
  
  .desp_content_2{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
    font-family:  'Lato', sans-serif;
  }
  .margin_auto{
    margin:auto;
  }
  .hover_display{
    border-radius: 5px;
    background-color: #f4ecdf;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #4d4d4d;
    padding: 10px;
    margin: 5px;
    display: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  a:hover .hover_display{
    display: block;
    position: absolute;
    bottom: 40px;
    left: 20px;
    right: 20px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1); /* IE 9 */ 
    transform: scale(1);
  }
  .desp_content{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: justify;
    font-family:  'Lato', sans-serif;
    color: #121212;
    margin-top: 25px;
  }
  .contact_page .desp_content{
    margin:0 20px 0 20px;
  }
  .contact_page .content_center{
    margin-top: 10px;
  }
  .m_l_34{
    margin-left: 34px!important;
  }
  .desp_content p{
    margin-top: 25px;
    margin-left: 35px;
  }
  .pull_right {
    float: right;
  }
  .step.finish .number, .step.active .number {
    background-color: #000;
    color: #fff;
  }
  .step .number {
    width: 37px;
    height: 37px;
    border: solid 1px #121212;
    background-color: #fff;
    color: #121212;
    font-size: 24px;
    font-weight: normal;
    margin: auto auto 10px;
    border-radius: 50%;
    padding: 4px;
  }
  .step .text, .step.finish .text, .step.active .text {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: #121212;
    margin: auto auto 10px;
  }
  .step.finish .underline, .step.active .underline {
    background-color: #000;
  }
  .step.finish:first-child .underline{
    border-top-left-radius: 6.5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 6.5px;
  }
  .step.active:first-child .underline{
    border-radius: 6.5px;
  }
  .step:last-child  .underline,
  .step.active .underline{
    border-top-left-radius: 0;
    border-top-right-radius: 6.5px;
    border-bottom-right-radius: 6.5px;
    border-bottom-left-radius:0;
  }
  .p_l_50{
    padding-left: 50px;
  }
  .p_l_75{
    padding-left: 75px;
  }
  .step .underline {
    width: 100%;
    height: 9px;
    /*  border-radius: 6.5px;*/
    border-top: solid 0.5px #121212;
    border-bottom: solid 0.5px #121212;
    background-color: #fff;
    margin: auto auto 10px;
  }
  .section_heading_underline {
    width: 40px;
    height: 4px;
    background-color: #000;
    margin-top: 5px;
  }
  .section_heading {
    font-size: 27px;
    font-weight: normal;
    color: #000;
  }
  .middle.row label{
    margin-right: 0px;
    width: 100%
  }
  .middle.row .box p.title.fw_400{
    padding: 0;
  }
  .middle.row .box {
    width: 100%
  }
  .middle.row label.m_r_20,
  .m_r_20
  {
    margin-right: 20px!important;
  }
  .circular_radio .circular_box.min_w_150{
    min-width: 150px;
  }
  .small_text{
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4d4d4d;
  }
  .instruction_text{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    color: #121212;
    font-family:  'Lato', sans-serif;
    margin-bottom: 35px;
    margin-top: 15px;
  }
  textarea.form-control {
    height: 150px!important
  }
  .form-control{
    font-family:  'Lato', sans-serif;
    font-size: 18px!important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal!important;
    letter-spacing: normal;
    color: #4d4d4d;
    border-radius: 5px;
    padding: 14px 20px!important;
    height: auto!important;
    width: 100%!important;
  }
  .trunk_no{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #bfbfbf;
  }
  .trunk_text{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    color: #121212;
  }
  .middle .box p.title.fw_400, .middle .box p.title {
    font-size: 20px;
    font-weight: 900;
    text-align: left;
  }
  .middle .box p.sub_title {
    font-size: 18px;
    font-weight: normal;
    text-align: left;
  }
  .middle .box p.sub_title_2, .circular_radio .circular_box p.sub_title_2 {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
  }
  .gold_btn, .black_btn {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    min-width: 275px;
    padding: 12px 24px;
    border: 1px solid;
    cursor: pointer;
  }
  .gold_btn {
    color: #b0976e;
    background-color: transparent;
    border-color: #b0976e;
  }
  .gold_btn:hover {
    border-color: #b0976e;
    background-color: #b0976e;
    color: #fff;
    outline: none;
  }
  .gold_btn:active {
    border-color: #b0976e;
    background-color: #b0976e;
    color: #fff;
    outline: none;
  }
  .gold_btn:focus {
    border-color: #b0976e;
    background-color: #b0976e;
    color: #fff;
    outline: none;
  }
  a.black_btn {
    color: #fff!important;
    height: auto!important;
  }
  a.black_btn:hover{
    color: #000!important;
  }
  .black_btn {
    color: #fff;
    background-color: #000;
    border-color: #000;
    height: auto!important;
  }
  .black_btn:hover {
    border-color: #000;
    background-color: #fff;
    color: #000;
    outline: none;
  }
  .black_btn:active {
    border-color: #000;
    background-color: #fff;
    color: #000;
    outline: none;
  }
  .black_btn:focus {
    border-color: #000;
    background-color: #fff;
    color: #000;
    outline: none;
  }
  .section_heading ,
  .Libre{
    font-family: 'Baskervville', serif;
  }
  .gold_btn, .black_btn, .form__field, .form__label, .form__field:focus ~ .form__label, .middle .box, .circular_radio .circular_box {
    font-family: 'Lato', sans-serif;
  }
  .steps-center, .content_center {
    display: flex;
    vertical-align: middle;
    align-items: center;
  }
  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #121212;
    outline: 0;
    font-size: 16px;
    color: #000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 18px;
    cursor: text;
    top: 20px;
  }
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 16px;
    color: #121212;
  }
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 400;
    border-width: 1px;
    border-image: linear-gradient(to right, #c0ab89, #b0976e);
    border-image-slice: 1;
    /* reset input */
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 16px;
    color: #c0ab89;
    font-weight: 400;
  }
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }
  .mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: #c0ab89;
  }
  .mdl-textfield__label:after {
    background-color: #c0ab89;
    bottom: 12px;
  }
  .color-gold {
    color: #c0ab89;
  }
  .color-red {
    color: #9d0505;
  }
  .sub-heading {
    color: #121212;
  }
  .sub-heading2 {
    color: #000;
  }
  .align-center{
    text-align: center;
  }
  .steps-center {
    text-align: center;
    margin-top: 40px;
  }
  .gold_number{
    width: 32px;
    height: 32px;
    background-color: #e2d0b2;
    border-radius: 50%;
    color: #000;
    position: absolute;
    right: 5px;
    padding: 6px 13px;
    top: 22px;
  }
  .gold_border {
    border-bottom: 1px dashed #c0ab89;
  }
  .step {
    text-align: center;
    margin: auto;
    width: 20%;
  }
  
  .step.finish, .step.active {
    text-align: center;
    margin: auto;
  }
  .section_heading {
    margin-top: 50px;
  }
  .section_heading_underline {
    margin-bottom: 20px;
  }
  .title.fw-700 {
    font-weight: 700;
  }
  /*.middle {
  width: 100%;
  }*/
  .middle label {
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .middle label.selected .box {
    background-color: #c0ab89;
    border-color: #c0ab89;
  }
  .middle input[type="radio"] {
    display: none;
  }
  .middle .front-end.box.selected,
  .middle input[type="radio"]:checked + .box {
    border: solid 0.9px #c0ab89;
    box-shadow: -2px 10px 18px 0 rgba(139, 69, 19, 0.24);
    background-image: linear-gradient(66deg, #c0ab89 -25%, #e2d0b2 24%, #f4ecdf 101%);
  }
  .middle .box {
    background-color: #fff;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-weight: 900;
    border-radius: 5px;
    border: solid 0.5px rgba(0, 0, 0, 0.5);
    padding: 15px;
    color: #121212;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .middle .box p.title.fw_400 {
    transition: all 300ms ease;
    user-select: none;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-weight: 400 !important;
    color: #4d4d4d;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .middle .box p.title {
    transition: all 300ms ease;
    user-select: none;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    color: #393737;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .font_32{
    font-size: 32px!important;
  } 
  .font_18{
    font-size: 18px!important;
  }
  .sub_title_2.font_32{
    color: #121212;
    font-size: 26px!important;
  }
  .sub_title_2{
    transition: all 300ms ease;
    user-select: none;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    color: #121212;
    font-size: 16px;
  }
  .m_r_10{
    margin-right: 10px;
  }
  .middle .box p.sub_title_2.color_black2{
    color: #121212;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .middle .box p.sub_title {
    transition: all 300ms ease;
    user-select: none;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    color: #393737;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .middle .box p.sub_title_2 {
    transition: all 300ms ease;
    user-select: none;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    color: #121212;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
  }
  .circular_radio {
    width: 100%;
  }
  .circular_radio label {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .circular_radio input[type="radio"] {
    display: none;
  }
  
  .circular_radio input[type="radio"]:checked + .circular_box {
    background-color: #f4ecdf;
    border-color: #c0ab89;
  }
  .circular_radio .circular_box {
    background-color: #fff;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-weight: 400;
    border-radius: 30px;
    border: solid 0.5px #000;
    padding: 15px;
    color: #121212;
    min-width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .circular_radio .circular_box p.sub_title_2 {
    transition: all 300ms ease;
    user-select: none;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    color: #121212;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .bg_gold_layer{
    background-color: #c0ab89;
    position: absolute;
    right: 15px;
    width: 75%;
    height: 75%;
    bottom: 40px;
    z-index: -1;
  }
  .margin_t_35{
    margin-top: 35px;
  }
  .margin_b_10{
    margin-bottom: 10px;
  }
  .sub_title{
    font-size: 18px;
    font-weight: normal;
    color: #393737;
    text-align: left;
  }
  .sub_title.color_black2{
    color: #121212;
  }
  .time_date{
    font-size: 18px;
    font-weight: 900;
    color: #121212;
    font-family: 'Lato', sans-serif;
  }
  .right_dashed_b{
    border-right: 3px dashed #c0ab89;
  }
  .left_dashed_b{
    border-left: 3px dashed #c0ab89; 
  }
  .section_heading_2{
    font-size: 18px;
    font-weight: bold;
    color: #393737;
    font-family: 'Lato', sans-serif;
  }
  .location_address,
  .date_time,
  .week_day{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #393737;
  }
  .width_95p{
    width: 95%;
  }
  .width_100p{
    width: 100%;
  }
  .margin_t_15{
    margin-top: 15px;
  }
  .margin_tb_30 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .gold_title{
    background-image: linear-gradient(78deg, #c0ab89 -20%, rgba(226, 208, 178, 0.89) 110%);
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .title{
    font-size: 24px;
    font-weight: 900;
    color: #121212;
    font-family: 'Lato', sans-serif;
  }
  .sub_title_3 {
    font-size: 24px;
    color: #121212;
    font-family: 'Lato', sans-serif;
  }
  .color_black2{
    color: #121212;
  }
  .color_black{
    color: #000000;
  }
  .color_grey{
    color: #616161;
  }
  .color_gold{
    color: #c0ab89;
  }
  .lh_48{
    line-height: 48px;
  }
  .lh_55{
    line-height: 55px;
  }
  .hide{
    display: none;
  }
  .baseline_t_10{
    align-items: baseline;
    margin-top: 10px;
  }
  .selected_country{
    width: 48px;
    height: 48px;
    background-color: #c0ab89;
    background-image: url('http://www.pngall.com/wp-content/uploads/2016/06/Germany-Flag.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    line-height: normal;
    position: absolute;
    left: -25px;
  }
  .border_img{
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #000000;
  }
  .selected_country.last_step{
    line-height: normal;
  }
  .appointment_confirmed{
    width: 48px;
    height: 48px;
    background-color: #49ba5d;
    border-radius: 50%;
    top: 65px;
    position: absolute;
    right: -25px;
  }
  .appointment_confirmed i{
    color: #fff;
    font-size: 24px;
    padding: 13px;
  }
  .fw_300{
    font-weight: 300!important;
  }
  .fw_400{
    font-weight: 400!important;
  }
  .fw_700{
    font-weight: 700!important;
  }
  .margin_top_0{
    margin-top: 0!important;
  }
  .margin_tb_5{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .align_right{
    text-align: right;
  }
  
  .bg_img_layer{
    background: linear-gradient(to right, rgb(216, 216, 216) -22%, rgba(216, 216, 216, 0.15) 112%) , url(https://www.go-today.com/stw/images/hero-images/package-hero-images/germany/Berlin-skyline-radio-tower-night.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .display-table {
    display: table;
    min-height: 180px;
  }
  .vertical-middle {
    display: table-cell;
    vertical-align: middle;
  }
  .box_shadow{
    border:solid 3px #c0ab89;
    border-radius: 19px;
    box-shadow: 4px 7px 20px 0 rgba(155, 155, 155, 0.5);
    background-image: linear-gradient(to bottom, #fdfdfd 29%, #dfdfdf 160%);
    min-height: 180px;
    padding: 15px;
  }
  
  .padding_top_50{
    padding-top: 50px;
  }
  
  .material_icons i{
    font-size: 3em;margin: auto;text-align: center;
  }
  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label,
  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input{
    color: #000;
    font-size: 16px;
  }
  .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #c0ab89;
  }
  .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing{
    border-color: #c0ab89;
  }
  .mdc-text-field--outlined{
    width: 100%;
  }
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  .middle_2 .box {
    font-family: 'Lato', sans-serif;
  }
  .middle_2 .box p.title.fw_400, .middle_2 .box p.title {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
  }
  .middle_2 .box p.sub_title {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
  }
  .middle_2 .box p.sub_title_2 {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
  }
  
  .middle_2 label {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .middle_2 label.selected .box {
    background-color: #c0ab89;
    border-color: #c0ab89;
  } 
  .middle_2 input[type="checkbox"] ,
  .middle_2 input[type="radio"] {
    display: none;
  }
  .middle_2 input[type="checkbox"]:checked + .box,
  .middle_2 input[type="radio"]:checked + .box {
    background-color: #f4ecdf;
    border-color: #c0ab89;
    border-width: 0.9px;
  }
  .middle_2 .box {
    background-color: #fff;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: left;
    cursor: pointer;
    position: relative;
    font-weight: 900;
    border-radius: 5px;
    border: solid 0.5px #000;
    padding: 15px;
    width: 100%;
    color: #121212;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .middle_2 .box p.title.fw_400 {
    transition: all 300ms ease;
    user-select: none;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    padding: 0 24px;
    font-weight: 400 !important;
    color: #121212;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .middle_2 .box p.title {
    transition: all 300ms ease;
    user-select: none;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    color: #121212;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .middle_2 .box p.sub_title {
    transition: all 300ms ease;
    user-select: none;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    color: #121212;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .middle_2 .box p.sub_title_2 {
    transition: all 300ms ease;
    user-select: none;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    color: #121212;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .padding_tb_130{
    padding-top: 130px;
    padding-bottom: 130px;
  }
  /*the container must be positioned relative:*/
  .gold_select .custom-select{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background:none;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .gold_select .custom-select {
    position: relative;
  }
  
  .gold_select .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .gold_select .select-selected {
    background-color: transparent;
  }
  
  /*style the arrow inside the select element:*/
  .gold_select .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #c0ab89 transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .gold_select .select-selected.select-arrow-active:after {
    border-color: transparent transparent #c0ab89 transparent;
    top: 7px;
  }
  
  .gold_select .select-items div:last-child{
    border: 1px solid #c0ab89!important;
  }
  .gold_select .select-items div:first-child{
    border: 1px solid transparent!important;
    border-right-color:#c0ab89!important;
    border-left-color:#c0ab89!important;
  }
  .gold_select .select-selected{ 
    border: 1px solid transparent!important;
    border-bottom-color:#c0ab89!important;
  }
  
  /*style the items (options), including the selected item:*/
  .gold_select .select-items div,.gold_select .select-selected {
    color: #000;
    padding: 8px 16px;
    border: 1px solid #c0ab89;
    border-bottom-color: transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .gold_select .select-items {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .gold_select .select-hide {
    display: none;
  }
  
  .gold_select .select-items div:hover,
  .gold_select .same-as-selected {
    background-color: #c0ab89;
    color:#fff;
  }
  .btn_fixed_1,.btn_fixed_2{
    position: relative;
  }
  
  
  
  
  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }
  
  .form__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4d4d4d;
    border-radius: 0;
    padding: 14px 0;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-color: #b0976e;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #b0976e;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }
  
  .bg_gold_shadow{
    box-shadow: 0 3px 11px 0 rgba(255, 234, 191, 0.54);
    background-image: linear-gradient(to bottom, #f3ebdc, #ffffff);
  }
  
  .accordion-text,
  .navbar-nav a.nav-link{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #393737;
  }
  
  .m_r_50{
    margin-right: 50px;
  }
  
  /*.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  }
  
  .sticky + .content {
  padding-top: 102px;
  }*/
  
  .navbar-toggler{
    float: right;
    margin: 5px 0 0;
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
     .slider_title_2 {
      font-size: 16px;
    }
    .home_dress_shadow{
      margin-right: 0;
    }
    .p_15{
      padding: 0;
    }
    .img_right_15{
      float: none;
      padding: 0;
    }
    .slider_title{
      font-size: 30px;
    }
    .margin_t_35 {
      margin-top: 15px;
    }
    .box_shadow_slider {
      padding: 25px 30px;
      margin-left: 0;
      margin-right: 0;
    }
  
    .home_border_line{
      display: none;
    }
  
    .slider_black_border {
      margin: 0;
      padding: 0;
      border-color: transparent;
    }
  
    .xs_m_b_20{
      margin-bottom: 20px;
    }
    ul.navbar-nav.pull_right{
      float: none!important;
      display: inline!important;
    }
    .navbar-nav a.nav-link{
      font-size: 16px;
    }
    .m_r_50 {
      margin-right: 35px;
    }
    li.nav-item {
      display: inline-block!important;
    }
    .btn_fixed_1,.btn_fixed_2{
      position: fixed;
      bottom: 0px;
      width: 50%;
      right: 0px;
    }
    .lh_48 {
      line-height: normal;
    }
    .btn_fixed_1{
      left: 0px;
      background: rgb(255, 255, 255);
    }
    .btn_fixed_2{
      left: 50%;
    }
    .steps-center{
      display: none;
    }
    .page_title_2,
    .page_title{
      font-size: 28px;
    }
    .middle label {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .padding_tb_130{
      padding-top: 75px;
      padding-bottom: 75px;
    }
    .middle .box{
      padding: 10px;
    }
    .gold_btn, .black_btn{
      min-width: 150px;
      font-size: 16px;
    }
    .middle .box p.title.fw_400, .middle .box p.title{
      font-size: 16px;
    }
    .xs-content-center.middle_2 .col-6 .box p.sub_title {
      text-align: center;
    }
    i.font_32.sub_title{
      float: left;
    }
    .xs_sub_title{
      line-height: 32px;
      margin-top: 15px;
    }
    .xs-margin-tb-20{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .circular_radio label{
      margin-top: 10px;
      margin-right: 10px;
      margin-bottom: 0;
    }
    .sub_title.fw_700.margin_t_15 {
      margin-bottom: 15px;
    }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .step .text, .step.finish .text, .step.active .text{
      font-size: 10px
    }
    ul.navbar-nav.pull_right{
      float: none!important;
      display: inline!important;
    }
    li.nav-item {
      display: inline-block!important;
    }
    .gold_btn, .black_btn{
      min-width: 100px;
    }
    .right_dashed_b {
      border-right: 0;
      border-bottom: 3px dashed #c0ab89;
    }
    .lh_48 {
      line-height: normal;
    }
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .step .text, .step.finish .text, .step.active .text{
      font-size: 10px
    }
    .lh_48 {
      line-height: normal;
    }
     .slider_title_2 {
      font-size: 16px;
    }
    .slider_title{
      font-size: 30px;
    }
    .margin_t_35 {
      margin-top: 25px;
    }
    .box_shadow_slider {
      padding: 50px 60px;
      margin-left: -50px;
      margin-right: -50px;
    }
  
    .slider_black_border {
      margin: -20px -25px -20px -25px;
      padding: 30px 25px 30px 
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .example {background: orange;}
     .slider_title_2 {
      font-size: 16px;
    }
    .slider_title{
      font-size: 30px;
    }
    .margin_t_35 {
      margin-top: 25px;
    }
    .box_shadow_slider {
      padding: 50px 60px;
      margin-left: -50px;
      margin-right: -50px;
    }
  
    .slider_black_border {
      margin: -20px -25px -20px -25px;
      padding: 30px 25px 30px 
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .example {background: pink;}
    .slider_title_2 {
      font-size: 16px;
    }
    .slider_title{
      font-size: 30px;
    }
    .margin_t_35 {
      margin-top: 25px;
    }
    .box_shadow_slider {
      padding: 50px 60px;
      margin-left: -50px;
      margin-right: -50px;
    }
  
    .slider_black_border {
      margin: -20px -25px -20px -25px;
      padding: 30px 25px 30px 
    }
  }